form {
  display: flex;
  flex-direction: column;
  padding: 20px auto;
  height: 65%;
}

form input {
  margin: 16px auto;
}

.login__btn {
  margin: 0.4em 8px;
  background-color: #e29a14;
  color: black;
  border-radius: 10px;
  padding: 4px;
}
.container--buttons {
  background-color: rgb(24, 24, 37);
  padding: 32px 16px;
}
.login__btn {
  padding: 08px;
  color: black;
  text-decoration-color: black;
  font-weight: bold;
}

